.card {
    height: 100%;
    margin-right: 100px;
}
#battle {
    margin-top: 100px;
}
<<<<<<< HEAD

.battleColumn {
    border: solid 1px black;
}

.sidenavbar {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
  }
=======
>>>>>>> cab6fa11f2323b2dd55f47b901c8b6ee08bafb2b
